<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/noveldetail.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <header>
            <nav class="navbar fixed-top navbar-light ">
                    <a class="navbar-brand" href="#">सahitya</a>
            </nav>
    </header>

    <main>
        <div class="container">
            <div class="content-wrapper">
            
               <div class="heading display-4"> <%= novel.title %> </div>
                <div class="my-3 text-muted"><%= novel.mainauthor.name %></div>
                <div class="content"><%= novel.content %></div>
                <% if(novel.collabauthor){ %>
                    <div class="collabauth">
                        <ul>
                            <% novel.collabauthor.forEach((auth)=>{ %>
                                <li><%= auth.name %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>
                <div>
                   
                    <hr>

                    <% if(!novel.mainauthor.id.equals(currentUser._id)){ %>
                        <a href="/parts/<%=novel._id%>/addPart" class="btn btn-danger">Collaborate!</a> 
                        <% }else{ %>
                        
                            <form class="form-inline text-center" action="/novels/<%=novel._id%>/delete" method="POST">
                                <div class="text-center"><a class="btn btn-info" href="/novels/<%=novel._id%>/edit">Edit it</a>
                            <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </div>
                        <hr>
                        <div class="merge-req">
                        <h2 class="my-3">Merge Request List: </h2>
                        <ul>
                        <% parts.forEach(part => { %>
                            <div class="part-box">
                               <h3> <%= part.title %> </h3>
                               <form class="form-inline" action="/novels/<%=novel._id%>/merge/<%=part._id%>" method="POST"><input class="btn btn-success mr-2" type="submit" value="Merge"></input><a class="btn btn-warning ml-2" href="/novels/<%=novel._id%>/<%=part._id%>">Read it</a></form>
                            </div>
                        <% }) %>
                        </div>
                        <% } %>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>